@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 24px;
  position: relative;
}
.profile-card::before {
  content: "";
  position: absolute;
  height: 150px;
  width: 100%;
  background-color: #4070f4;
  top: 0;
  left: 0;
  border-radius: 24px;
}
.image {
  position: relative;
  height: 150px;
  width: 150px;
  background-color: blue;
  border-radius: 50%;
  padding: 3px;
}
.profile {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}
.text-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-data .name {
  font-size: 26px;
  font-weight: 500px;
}
.text-data .jobs {
  font-size: 12px;
  font-weight: 400px;
}
.media-button {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.link {
  font-size: 22px;
  color: #fff;
  margin: 0px 8px;
  height: 34px;
  width: 34px;
  background-color: #4070f4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.Subcribe,
.Message,
.Follow {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 12px;
  font-weight: 500px;
  padding: 3px 6px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.Subcribe {
  background-color: red;
  opacity: 1;
}
.Subcribe:hover {
  opacity: 0.5;
}
.Subcribe:active {
  background-color: green;
  opacity: 1;
}
.Message {
  background-color: #1da1f2;
  opacity: 1;
}
.Message:hover {
  opacity: 0.5;
}
.Message:active {
  background-color: purple;
  opacity: 1;
}
.Follow {
  background-color: #4070f4;
  opacity: 1;
}
.Follow:hover {
  opacity: 0.5;
}
.Follow:active {
  background-color: blue;
  opacity: 1;
}
.numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.number {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  padding-right: 8px;
  font-size: 16px;
  border-right: 3px solid rgb(187, 186, 186);
}
.number:last-child {
  border-right: none;
}
